/app/config/config_local.yml
/app/config/config_local_test.yml
/app/check.php
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/dev/
/vendor
/nbproject/
/.idea/
/tests/codeception.yml
/tests/run.nmotion.cmd
/tests/_log/*
/app/spool/
/web/bundles/
/web/upload
/web/backoffice.appcache
/tests/log
/tests/api/_bootstrap.local.php
/atlassian-ide-plugin.xml
.local
/web/.htaccess
