{% extends 'NmotionLandingPageBundle::public.html.twig' %}
{% block title %}
    Om Nmotion
{% endblock %}

{% block metas %}
	<meta name="description" content="Nmotion er appen, der gør din smartphone smartere. Download appen gratis og reserver bord, bestil mad og drikke eller take away og betal direkte via din smartphone og undgå ventetid." />
	<meta name="keywords" content="nmotion, restaurant ordering app, app, nmotion app, applikation, application, iphone, samsung, appstore, google play, android, gratis, download gratis, makes ordering easy, download, download free, en let løsning, restauranter, take away, barer, natklubber, mad, drinks, café, " />
{% endblock %}

{% block content %}
		<div class="row" id="restaurant_info">
			<div class="eight columns centered">
				<h2>Nmotion - gør livet lettere</h2>
			</div>
			<hr />
		</div>


		<div class="row">
			<div class="twelve columns">
				<div class="four columns">
					<img src="/bundles/nmotionlandingpage/img/app.png" alt="Nmotion App"/>
				</div> 

				<div class="eight columns">
					<h3>Gør det nemt at tage i byen</h3>
					<div class="middle-hr"></div>
					<p>Nmotion er en praktisk applikation som du kan bruge på restauranter, caféer, barer og til take-away over hele Europa. Download  appen, log på via din facebook-konto og du er klar. Bestil let og hurtigt, og betal nemt via din smartphone.</p>
					<p>Nmotion er tilgængelig på IOS og Android.</p>
					<h3>Download her</h3>
					<br />

					<div class="six columns" id="download_costumers">
						<ul id="appstore">
							<li>
								<a href="http://itunes.com/apps/nmotion" target="_blank">
									<img src="/bundles/nmotionlandingpage/img/icons/appstore.png" alt="" />
								</a>
							</li> 
							<li>
								<a href="https://play.google.com/store/apps/details?id=com.nmotion">
									<img src="/bundles/nmotionlandingpage/img/icons/googleplay.png" alt="" />
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		

		<div class="row" id="video"> 
			<div class="twelve columns" id="play_trailer"> 
				<div class="embed-container">
					<iframe src="http://player.vimeo.com/video/76432326" frameborder="0" ></iframe>
				</div>
			</div>
		</div>


		<div class="row" style="display:none;">
			<div class="twelve columns">
				<h3>Hvilke steder er Nmotion</h3>
				<div class="middle-hr"></div>
				<div class="four columns">
					<h3>sjælland</h3>
					<div class="middle-hr"></div>
					<ul class="list">
						<li><a href="http://www.bakken.dk/balkon-51" target="_blank">Bakken 51</a></li>
						<li><a href="http://www.lumskebuksen.dk" target="_blank">lumskebuksen</a></li>
						<li><a href="http://www.cafekik.dk/" target="_blank">cafe kik</a></li>
						<li><a href="http://www.boegelybakken.dk/" target="_blank">Restaurant Bøgely</a></li>
						<li>restaurant bøgehaven</li>
					</ul>
				</div>


				<div class="four columns">
					<h3>Fyn/Jylland</h3>
					<div class="middle-hr"></div>

					<ul class="list">
						<li><a href="http://www.bakken.dk/balkon-51" target="_blank">Bakken 51</a></li>
						<li><a href="http://www.lumskebuksen.dk" target="_blank">lumskebuksen</a></li>
						<li><a href="http://www.cafekik.dk/" target="_blank">cafe kik</a></li>
						<li><a href="http://www.boegelybakken.dk/" target="_blank">Restaurant Bøgely</a></li>
						<li>restaurant bøgehaven</li>
					</ul>
				</div>


				<div class="four columns">
					<h3>Norge</h3>
					<div class="middle-hr"></div>

					<ul class="list">
						<li><a href="http://www.bakken.dk/balkon-51" target="_blank">Bakken 51</a></li>
						<li><a href="http://www.lumskebuksen.dk" target="_blank">lumskebuksen</a></li>
						<li><a href="http://www.boegelybakken.dk/" target="_blank">Restaurant Bøgely</a></li>
						<li>restaurant bøgehaven</li>
					</ul>
				</div>
			</div>
		</div>

 
		<div class="row" id="explain">
			<ul class="rslides">
				<li><img src="/bundles/nmotionlandingpage/img/explain.jpg" alt="" /></li>
			</ul>
		</div>
{% endblock %}