{% extends 'NmotionLandingPageBundle::public.html.twig' %}
{% block title %}
	Nmotion Business
{% endblock %}

{% block metas %}
	<meta name="description" content="Nmotion er appen, der gør din smartphone smartere. Download appen gratis og reserver bord, bestil mad og drikke eller take away og betal direkte via din smartphone og undgå ventetid." />
	<meta name="keywords" content="nmotion, restaurant ordering app, app, nmotion app, applikation, application, iphone, samsung, appstore, google play, android, gratis, download gratis, makes ordering easy, download, download free, en let løsning, take away, barer, natklubber, mad, drinks, café, " />
{% endblock %}

{% block content %}
		<div class="row">
			<div class="eight columns centered">
				<h2>Nmotion - en let løsning både for dig og dine kunder</h2>
			</div>
			<hr />
		</div>

		<div class="row">
			<div class="twelve columns">
				<div class="four columns">
					<img src="/bundles/nmotionlandingpage/img/app.png" alt="iPhone app" />
				</div>

				<div class="eight columns">
					<h3>Giv dine gæster mulighed for at gennemse menukortet online, bestille og betale direkte fra deres smartphone.</h3>
					<div class="middle-hr"></div>
					<p>Nmotion er en app udviklet for at skabe muligheden for en mere moderne kontakt mellem restauration og kunde og derved sikre en større indtjeningsmulighed, hurtigere omsætning og en bedre kundetilfredshed.</p>
					<p>Nmotion tilbyder muligheden for at gæsterne selv kan afgive ordrer, tilføje ekstra ønsker eller bestillinger og afregne udelukkende via sin smartphone. 
					</p>
				</div>
				<hr />
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<div class="four columns">
					<h3>Hvordan Nmotion virker</h3>
					<div class="middle-hr"></div>
					<p>Nmotion kan downloades gratis til de mest gængse mobilplatforme. Nmotion sørger for at lægge dit udbud online. Vi sørger også for kommunikationen mellem kunde og forretning via en lille printer, koblet til det lokale wifi-net, til at modtage ordrer fra.</p>
				</div>


				<div class="eight columns">
					<img src="/bundles/nmotionlandingpage/img/wifi.png" alt="Nmotion Wirefree" />
				</div>
			</div>
			<hr />
		</div>


		<div class="row">
			<div class="twelve columns" style="margin-bottom:50px;">
				<div class="four columns">
					<img src="/bundles/nmotionlandingpage/img/map.png" alt="Nmotion Europa" />
				</div>

				<div class="eight columns">
					<h3>Nmotion spreder sig med hastige skridt</h3>
					<div class="middle-hr"></div>
					<p>Vi udbyder nu Nmotion til mere end 300 samarbejdspartnere i hele Europa, og ugentligt kommer der nye til. Det betyder at turister også er et potentielt kundeklientel på Nmotion.</p>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="twelve columns" style="margin-bottom:50px;">
				<div class="four columns">
					<h3>Nmotion Backoffice</h3>
					<div class="middle-hr"></div>
					<p>Du kan selv tilføje menukort, billeder og mange andre relevante emner for din forretning i Nmotion Backoffice. Backoffice giver dig også overblik over alle transaktioner, statistikker og rapporter.</p>
				</div>


				<div class="eight columns">
					<img src="/bundles/nmotionlandingpage/img/macbook.png" alt="Nmotion Backoffice"/>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<div class="four columns" id="online_katalog">
					<a href="/bundles/nmotionlandingpage/online_katalog.pdf">
						<img  style="margin-bottom: -2px;" src="/bundles/nmotionlandingpage/img/pdf.jpg" alt="Nmotion Backoffice"/>
					</a>
				</div>
				<div class="eight columns">
					<h3>Nmotion Online</h3>
						<div class="middle-hr"></div>
						<p>Læs vores onlinekatalog, og lær meget mere om, hvad Nmotion kan tilbyde dig og din virksomhed.</p>
				</div>
			</div>
		</div>
{% endblock %}