{% extends 'NmotionLandingPageBundle::public.html.twig' %}

{% block title %}
	Kontakt Nmotion
{% endblock %}

{% block metas %}
	<meta name="description" content="Nmotion er appen, der gør din smartphone smartere. Download appen gratis og reserver bord, bestil mad og drikke eller take away og betal direkte via din smartphone og undgå ventetid." />
	<meta name="keywords" content="nmotion, restaurant ordering app, app, nmotion app, applikation, application, iphone, samsung, appstore, google play, android, gratis, download gratis, makes ordering easy, download, download free, en let løsning, take away, barer, natklubber, mad, drinks, café, " />
{% endblock %}

{% block content %}
<div id="kontakt_wrap" class="twelve columns">
	<div id="header-title">
		<h1>Kontakt os</h1>
		<h3>Og hør meget mere om hvad Nmotion kan tilbyde dig</h3>
	</div>

	<div class="twelve columns">
		<ul id="kontakt">
			<li>Nmotion ApS</li>
			<li>Tinghøjvej 40</li>
			<li>2860 Søborg</li>
		</ul>
	</div>


	<div id="contact_icons" class="twelve columns">
		<div class="four columns">
			<ul id="mail">
				<li><img alt="mail" src="/bundles/nmotionlandingpage/img/mail.png"></li>
				<li><a href="mailto:mail@nmotion.dk">mail@nmotion.dk</a></li>
			</ul>
		</div>


		<div class="four columns">
			<ul id="phone">
				<li><img alt="Telefon" src="/bundles/nmotionlandingpage/img/phone.png"></li>
				<li>+45 71 99 41 99</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}