<div>
    <p>Hello {{ user.firstName }}.</p>
</div>
<div id="reset_password">
    <form id="form_reset_password" action="{{ path("nmotion_nmotion_reset_password", {'token': user.confirmationToken}) }}" method="post">
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <div>
            <input type="submit" id="reset_password_submit" name="_submit" />
        </div>
    </form>
</div>